In [2]:
import glob
import pandas as pd
import numpy as np

archivos = glob.glob('../data/gastos/*')
archivos

['../data/gastos/gastos_junio.xlsx',
 '../data/gastos/gastos_marzo.xlsx',
 '../data/gastos/gastos_febrero.xlsx',
 '../data/gastos/gastos_septiembre.xlsx',
 '../data/gastos/gastos_agosto.xlsx',
 '../data/gastos/gastos_noviembre.xlsx',
 '../data/gastos/gastos_abril.xlsx',
 '../data/gastos/gastos_enero.xlsx',
 '../data/gastos/gastos_diciembre.xlsx',
 '../data/gastos/gastos_octubre.xlsx',
 '../data/gastos/gastos_julio.xlsx',
 '../data/gastos/gastos_mayo.xlsx']

In [3]:
#
pinturas = {'meses':[], 'precios':[]}
cols = ['it', 'denominacion', 'unidad', 'cantidad', 'precio', 'total']

for hoja in archivos:
    
    df = pd.read_excel(hoja,
                      sheet_name='Detalle de Presupuesto',
                      skiprows=8,
                      names=cols,
                      usecols=np.arange(1,7),
                      header=None)
    
    mascara = df['denominacion'] == 'Pintura'
    gasto = df[mascara]['total'].iloc[0]
    mes = hoja.split('_')[1].split('.')[0]
    
    pinturas['precios'].append(gasto)
    pinturas['meses'].append(mes)
    
df = pd.DataFrame(pinturas)

df

         meses  precios
0        junio     22.0
1        marzo     10.0
2      febrero     19.0
3   septiembre     26.0
4       agosto     30.0
5    noviembre     35.0
6        abril     25.0
7        enero     16.0
8    diciembre      6.0
9      octubre      9.0
10       julio     14.0
11        mayo      7.0

In [4]:
total = df['precios'].sum()
df['%'] = np.round(100 * df['precios'] / total, 1)
df

         meses  precios     %
0        junio     22.0  10.0
1        marzo     10.0   4.6
2      febrero     19.0   8.7
3   septiembre     26.0  11.9
4       agosto     30.0  13.7
5    noviembre     35.0  16.0
6        abril     25.0  11.4
7        enero     16.0   7.3
8    diciembre      6.0   2.7
9      octubre      9.0   4.1
10       julio     14.0   6.4
11        mayo      7.0   3.2